@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

  height: 100%;
  width: 100%;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parent {
  position: relative;

}

.child1 {
  position: absolute; 
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  rotate: -6deg;
}

.child2 {
  position: absolute; 
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  rotate: 12deg;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card {
  width: 100%;
  height: 100%;
}



.card-front,
.card-back {
  object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: #fff;
}

.card-back {
  background: #101010;
  opacity: 100;
  color: white;
  transform: rotateY(180deg);
}


.carousel-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  border-radius: 20px;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-card {
  width: 100%;
  height: 100%;
  object-position: center;
}

.carousel-button {
  background: #101010;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  font-size: 24px;
}

.carousel-button.prev {
  left: -50px;
}

.carousel-button.next {
  right: -50px;
}

.carousel-button:hover {
  background: #101010;
}


.tagify__input {
  
  color: #ffffff; 
}


.tagify__tag {
  background-color: #ff0059; 
  color: #ffffff; 
}


.tagify__tag__removeBtn {
  color: #ffffff; 
}

.tagify__tag--hover,
.tagify__tag--focus {
  background-color: #ff3366; 
}


.tagify__dropdown__item {
  background-color: #444444;
  color: #ffffff; 
}

.tagify__dropdown__item--active {
  background-color: #ff0059; 
  color: #ffffff; 
}


::-webkit-scrollbar {
  width: 0; 
  height: 0;
}


* {
  scrollbar-width: none; 
}


*::-webkit-scrollbar {
  display: none;
}


.scrollable-content {
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding-right: 15px; 
}


.scrollable-content {
  overflow-x: hidden; 
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; 
}

body {
  cursor: none;
}
